<!DOCTYPE html>
    <html>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    
    {% if not reviews %}
    <div class="container-fluid px-2.5" style="height: 100vh; display: flex; justify-content: center; align-items: center; background-color: white;">
      <div>
        <h3>No reviews have been added for {{prof.name}} yet!</h3>
      </div>
    </div>

    {% else %}
    <div class="container-fluid px-2.5">
        <div class="w3-container w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class='fa fa-user w3-margin-right w3-text-blue' style='font-size:36px'></i>{{prof.name.title()}}</h2>
            <h5 class="w3-opacity"><b>Department: {{prof.department}}</b></h5>
            <h5 class="w3-opacity"><b>{{prof.numratings}} Reviews</b></h5>
            <h6 class="w3-text-blue"></i>Past Courses: {{reviews[0].courses}}</h6> <!-- leaving this for now but gonna need all the courses they've taught from the registrar-->
            <br>
          </div>
          <div class="w3-container w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-comments fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Student Feedback:</h2>
            {%for review in reviews%}
              <div class="w3-container">
                <!-- make for loop for all reviews  -->
                <p>Overall Rating: {{review.rating}} </p> <!-- gonna have to add this  -->
                <p>Content: {{review.content}} / 5.0 | Delivery {{review.delivery}} / 5.0 | Availability {{review.availability}} / 5.0 | Organization {{review.organization}} / 5.0</p>
                <p>Comments: {{review.comment}}</p>
                <p>Courses taken with {{prof.name}}: {{review.courses}}</p>
                <hr>
              </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}