<!DOCTYPE html>
<html>
{% set username = username %}
{% include 'header.html' %}


<!-- Page Container -->

  <!-- The Grid -->
  <div class="w3-row-padding">
  <p></p>
  
    <!-- Left Column -->
    {% if is_banned: %} 
            You have been banned from submitting reviews. If you belive this to be a mistake, please contact a Princeton Professors system administrator.  
    {% else %}
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div id="review-form" class="w3-container">
          <h2>Review a Professor</h2>
                          <!-- Input boxes for searching -->
                <form action="/review" method="post">

                    <b>Professor:<span style="color: red;">*</span></b>
                    <select id="professor-select" name="professor" style="width: 100%;" required>
                      <option></option>
                      {% for prof in profs: %}
                        <option value="{{prof.name}}, {{prof.department}}">{{prof.name.title()}} ({{prof.department}})</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <div style="background-color: #f2f2f2; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
                      <p style="font-size: 16px; color: #333;">
                        Please rate each category on a scale from 0 to 5, with 5 being the best.
                        You may use up to one decimal place.
                      </p>
                    </div>
                    <br>
                    <div class="w3-row-padding">
                      <div class="w3-quarter">
                        <label for="content">Quality of Content <span style="color: red;">*</span></label>
                        <input type="number" class="inputValue" name="content" min="0" max="5" step="0.1" oninput="validateInput()" required/>
                      </div>
                      <div class="w3-quarter">
                        <label for="content">Quality of Delivery <span style="color: red;">*</span></label>
                        <input type="number" class="inputValue" name="delivery" min="0" max="5" step="0.1" oninput="validateInput()" required/>
                      </div>
                      <div class="w3-quarter">
                        <label for="content">Level of Availability <span style="color: red;">*</span></label>
                        <input type="number" class="inputValue" name="availability" min="0" max="5" step="0.1" oninput="validateInput()" required/>
                      </div>
                      <div class="w3-quarter">
                        <label for="content">Level of Organization <span style="color: red;">*</span></label>
                        <input type="number" class="inputValue" name="organization" min="0" max="5" step="0.1" oninput="validateInput()" required/>
                      </div>
                    </div>
                    <br>
                    <b>Any Comments?</b>
                    <div style="font-style: italic; font-size: 10pt;">(up to 2000 characters)</div>
                    <textarea name="comment" maxlength="2000"> </textarea>
                    <br>
                    <br>
                    <label>If this review applies to a specific course(s), please list them below:</label>
                    <div style="font-style: italic; font-size: 10pt;">(up to 35 characters)</div>
                    <input type="text" name="courses" maxlength="35" placeholder="Ex. COS126, COS226"/>
                    <br>
                    <span style="color: red;">*</span> = required
                    <br>
                    <br>
                    <button type="reset" onclick="confirmDiscard()" style="background-color: red; color: white;">Discard</button>
                    <button type="submit" style="background-color: #04AA6D;" onclick="return confirm('Are you sure you want to submit this review?')">Submit Review</button>

                    <script>
                      function confirmDiscard() {
                        var confirmation = confirm("Are you sure you want to discard this review?");
                        if (confirmation) {
                          discardForm();
                        }
                      }
                      function discardForm() {
                        // Redirect to the index page
                        window.location.href = '/index';
                      }
                      </script>
                      
                    <br>
                    <br>
                    <p class="footnote"> <b>Please Note: </b> </p>
                    <p class="footnote">Once a review is submitted, it cannot be edited or deleted.</p>
                    <p class="footnote">If untruthful or innapropriate material is submitted, we reserve the right to bar a user and/or delete all of the user's existent reviews.</p>
                    <br>
                </form>
        </div>
      </div><br>
    
  <!-- End Grid -->
  </div>
  {% endif %} 
  
  <!-- End Page Container -->
</div>

{% include 'footer.html' %}

<script>
  // Activate Select2 on the professor's name select element
  $(document).ready(function() {
      $('#professor-select').select2({ placeholder: '-- Select a Professor --' });
  });

  function validateInput() {
    var inputElements = document.getElementsByClassName('inputValue');
    for (var i = 0; i < inputElements.length; i++) {
      var inputValue = inputElements[i].value;
      if (inputValue < 0.0 || inputValue > 5.0 ) {
        alert('Please enter a valid value between 0.0 and 5.0');
        // Clear the input field value
        inputElements[i].value = '';
      }
    }
  }
</script>

</body>
</html>
