<!DOCTYPE html>
<html>
{% set username = username %}
{% include 'header.html' %}


<!-- Page Container -->

  <!-- The Grid -->
  <div class="w3-row-padding">
  <p></p>
  
    <!-- Left Column -->
    {% if is_banned: %} 
            You have been banned from submitting reviews. If you belive this to be a mistake, please contact a Princeton Professors system administrator.  
    {% else %}
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div id="review-form" class="w3-container">
          <h2>Submit a Review</h2>
                          <!-- Input boxes for searching -->
                <form action="/review" method="get">

                    <b>Professor:</b>
                    <select id="professor-select" name="professor" style="width: 100%;" required>
                      {% for prof in profs: %}
                        <option value="{{prof.name}}, {{prof.department}}">{{prof.name.title()}} ({{prof.department}})</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <div style="background-color: #f2f2f2; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
                      <p style="font-size: 16px; color: #333;">
                        Please rate each category on a scale from 0 to 5, with 5 being the best.
                        You can list ratings up to one decimal place (e.g., 4.5) to indicate greater precision.
                      </p>
                    </div>
                    <br>
                    <label for="content">Quality of Content <span style="color: red;">*</span></label>
                    <input type="number" name="content" min="0" max="5" step="0.1" required/>
                    <br>
                    <label for="content">Quality of Delivery <span style="color: red;">*</span></label>                    <input type="number" name="delivery" min="0" max="5" step="0.1" required/>
                    <br>
                    <label for="content">Level of Availability <span style="color: red;">*</span></label>
                    <input type="number" name="availability" min="0" max="5" step="0.1" required/>
                    <br>
                    <label for="content">Level of Organization <span style="color: red;">*</span></label>
                    <input type="number" name="organization" min="0" max="5" step="0.1" required/>
                    <br>
                    <b>Any Comments?</b>
                    <textarea name="comment"> </textarea>
                    <br>
                    <label>If this review applies to a specific course(s), please list them below:</label>
                    <input type="text" name="courses"/>
                    <br>
                    <br>
                    <span style="color: red;">*</span> = required
                    <br>
                    <br>
                    <button type="reset" onclick="discardForm()" style="background-color: red; color: white;">Discard</button>
                    <button type="submit">Submit Review</button>

                    <script>
                      function discardForm() {
                        // Redirect to the index page
                        window.location.href = '/index';
                      }
                      </script>
                      
                    <br>
                    <br>
                    <p class="footnote"> Please Note: </p>
                    <p class="footnote"> * &nbsp <b>Once a review is submitted, it cannot be edited or deleted.</b></p>
                    <p class="footnote"> ** <b>If untruthful or innapropriate material is submitted, we reserve the right to bar a user and/or delete all of the user's existent reviews.</b></p>
                    <br>
                </form>
        </div>
      </div><br>
    
  <!-- End Grid -->
  </div>
  {% endif %} 
  
  <!-- End Page Container -->
</div>

{% include 'footer.html' %}

<script>
  // Activate Select2 on the professor's name select element
  $(document).ready(function() {
      $('#professor-select').select2();
  });
</script>

</body>
</html>
